@import '../../../node_modules/node-normalize-scss/_normalize.scss';

body
{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1;

    color: #3b3e4f;
}

.basket
{
    width: 1250px;
    margin: 45px auto 80px;

    &:after
    {
        display: table;
        clear: both;

        content: '';
    }

    &__title
    {
        font-size: 64px;

        margin: 0 0 50px;

        color: #cc202c;
    }

    table
    {
        width: 100%;

        border-collapse: collapse;

        text-align: left;

        border-bottom: 1px solid #f1f1f1;

        thead
        {
            background: #c1c2c7;

            th
            {
                font-size: 14px;
                font-weight: normal;

                padding: 20px 18px 20px 28px;
            }
        }
        tbody
        {
            tr
            {
                &:nth-child(2n)
                {
                    background: #f4f4f6;
                }
            }
            td
            {
                padding: 20px 18px 20px 28px;
            }
        }
    }
}

.counter
{
    &__number
    {
        padding: 5px 0;

        text-align: center;

        border: 1px solid #f1f1f1;
        border-top: 1px solid #ccc;
        border-radius: 3px;
        background: #fff;
    }
    &__button
    {
        font-size: 24px;

        padding: 2px 5px;

        cursor: pointer;
        transition: .3s;
        vertical-align: middle;

        color: #fff;
        border: none;
        border-radius: 3px;
        background: #ce1f2c;

        &:focus
        {
            outline: none;
        }

        &:hover
        {
            background: darken(#ce1f2c, 8%);
        }

        &_disabled,
        &_disabled:hover
        {
            cursor: default;

            background: #d6d7d9;
        }
    }
}

.link
{
    font-weight: bold;
    line-height: 1.4;

    padding-top: 5px;

    text-decoration: none;

    color: #3b3e4f;
    border-bottom: 1px solid #3b3e4f;

    &:hover
    {
        border-bottom-color: transparent;
    }
}

.button
{
    border: 0;

    &:focus
    {
        outline: none;
    }

    &_link
    {
        font-size: 12px;

        padding: 0;

        cursor: pointer;

        color: #cc202c;
        border-bottom: 1px dotted #cc202c;
        background: transparent;

        &:hover
        {
            border-bottom-color: transparent;
        }
    }

    &_order
    {
        font-size: 16px;
        font-weight: bold;

        margin-top: 10px;
        padding: 15px 45px;

        cursor: pointer;
        transition: .3s;
        vertical-align: middle;

        color: #fff;
        border: none;
        border-radius: 3px;
        background: #ce1f2c;

        &:hover
        {
            background: darken(#ce1f2c, 8%);
        }
    }
}

.price-block
{
    font-size: 12px;

    float: right;

    width: 400px;
    margin-top: 50px;
    margin-right: 100px;

    &__row
    {
        display: flex;

        margin-bottom: 15px;

        align-items: center;
    }

    &__caption
    {
        width: 150px;
        margin-right: 30px;

        text-align: right;
    }

    &__set-discount
    {
        font-size: 12px;

        padding: 0;

        color: #cc202c;
        border-bottom: 1px dotted #cc202c;
        background: transparent;
    }

    &__number
    {
        text-align: left;

        &_summary
        {
            font-size: 25px;
            font-weight: bold;
        }
    }
}
